{%- assign actual_related = nil %}
{%- for section in page.related_pages %}
{%- unless section[1].size == 0 %}
{%- assign actual_related = 1 %}
{%- endunless %}
{%- endfor %}
{%- if actual_related != nil %}
<!-- Read next -->
<h2>Related pages</h2>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-5 navigation-tiles mt-2">
    {%- for section in page.related_pages %}
    {%- for page_id in section[1] %}
    {%- assign section_pages = site.pages | where:"type", section[0] %}
    {%- assign page_hit = section_pages | where:"page_id", page_id | first %}
    <div class="col">
        <div class="card h-100 info-card">
            <div class="card-body">
                <a class="stretched-link" aria-label="Go to the {{page_hit.title}} page" href="{{ page_hit.url | relative_url }}">
                    <h3 class="card-title mt-0">{{page_hit.title}}</h3>
                </a>
                {%- if page_hit.description %}
                <p class="card-text">{{ page_hit.description}}</p>
                {%- endif %}
            </div>
            <div class="px-3 pb-3 d-flex justify-content-between">
                {%- if page_hit.related_pages %}
                {%- assign nonempty = false %}
                {%- for section in page_hit.related_pages %}
                {%- unless section[1].size == 0 %}
                {%- assign nonempty = true %}
                {%- endunless %}
                {%- endfor %}
                {%- if nonempty %}
                <div class="dropdown">
                    <button class="btn  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Related pages
                    </button>
                    <ul class="dropdown-menu px-2 py-0 border-0 shadow">
                        {%- for section in page_hit.related_pages %}
                        {%- unless section[1].size == 0 %}
                        <li><h6 class="dropdown-header">{{ section[0] | replace: "_", " " | capitalize }}</h6></li>
                        {%- for page_id in section[1] %}
                        {%- assign section_pages = site.pages | where:"type", section[0] %}
                        {%- assign metadata = section_pages | where:"page_id", page_id %}
                        {%- for page_hit in metadata %}
                        <li><a class="dropdown-item rounded" href="{{ page_hit.url | relative_url }}">{{page_hit.title }}</a></li>
                        {%- endfor %}
                        {%- endfor %}
                        {%- endunless %}
                        {%- endfor %}
                    </ul>
                </div>
                {%- endif %}
                {%- endif %}
                {%- if page_hit.dsw or page_hit.faircookbook %}
                <div class="btn-group btn-group-sm" role="group">
                    {%- if page_hit.faircookbook %}
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="faircookbook logo" src="{{ 'assets/img/fairplus_compact_logo.svg' | relative_url }}">
                        </button>
                        <ul class="dropdown-menu px-2 py-0 border-0 shadow">
                            {%- for item in page_hit.faircookbook %}
                            <li><a class="dropdown-item rounded" href="{{ item.url }}">{{item.name }}</a></li>
                            {%- endfor %}
                        </ul>
                    </div>
                    {%- endif %}
                    {%- if page_hit.dsw %}
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="DSW logo" src="{{ 'assets/img/dsw_compact_logo.svg' | relative_url }}">
                        </button>
                        <ul class="dropdown-menu px-2 py-0 border-0 shadow">
                            {%- for item in page_hit.dsw %}
                            <li><a class="dropdown-item rounded" href="{{ site.dsw_deep_link_prefix | append: item.uuid }}">{{item.name }}</a></li>
                            {%- endfor %}
                        </ul>
                    </div>
                    {%- endif %}
                </div>
                {%- endif %}
            </div>
            {%- if page_hit.affiliations %}
            {%- assign alllogos = site.data.affiliations %}
            {%- assign allcountries = site.data.countries %}
            <div class="card-footer d-flex align-middle">
                <div class="me-3">
                    <span class="me-2"><b><small>Affiliations:</small></b></span>
                    {%- for affiliation in page_hit.affiliations %}
                    {%- assign filter_affiliation = alllogos | where: "name", affiliation | first %}
                    {%- assign country = affiliation | upcase %}
                    {%- if affiliation.size == 2 %}
                    {%- assign country_link = site.pages | where:"country_code",country | first %}
                    {%- if country_link %}
                    <a role="button" href="{{country_link.url | relative_url}}" data-bs-toggle="tooltip" title="{{allcountries[country]}}" class="btn btn-sm bg-white hover-primary">
                        {%- else %}
                        <a role="button" data-bs-toggle="tooltip" title="{{allcountries[country]}}" class="btn btn-sm bg-white hover-primary disabled" aria-disabled="true">
                            {%- endif %}
                            <div class="d-block h-24px">
                                <span class="flag-icon flag-icon-{{affiliation | downcase}} align-items-center"></span>
                            </div>
                        </a>
                    {%- elsif filter_affiliation %}
                    <a role="button" href="{{filter_affiliation.url}}" data-bs-toggle="tooltip" data-bs-original-title="{{affiliation}}" class="btn btn-sm bg-white hover-primary">
                        {%- if filter_affiliation.image_url %}
                        <img alt="logo of {{filter_affiliation.name}}" src="{{filter_affiliation.image_url | relative_url }}" class="d-inline h-24px">
                        {%- else %}
                        {{filter_affiliation.name}}
                        {%- endif %}
                    </a>
                    {%- endif %}
                    {%- endfor %}
                </div>
            </div>
            
        </div>
    </div>
    {%- endfor %}
    {%- endfor %}
</div>

{%- endif %}
